body {
    background-color: #3a3333;
}

h1, h2, h3, p {
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    text-align: center;
    color: #eedd7a
}

h3, p {
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
}

a, a:hover {
    color: #ffc77a;
}

a:visited {
    color: #ffbb7a;
}